<body class="bg">
  <div class="detail">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div >
        <mat-form-field appearance="outline"
          style="width:95%; margin-left:2pt;margin-right: 2pt; font-family: 'Fredoka One', cursive;">
          <mat-label>Name*</mat-label>
          <input matInput placeholder="name" formControlName="name"
            style="color:rgb(80, 71, 71);font-family: 'Fredoka One', cursive;">
        </mat-form-field>
      </div>
      <!-- <div
        *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)"
        class="alert alert-danger">
      </div> -->
      <div>
        <mat-form-field appearance="outline"
          style="width:95%; margin-left:2pt;margin-right: 2pt; font-family: 'Fredoka One', cursive;">
          <mat-label>Email*</mat-label>
          <input matInput placeholder="abc@xyz.com" formControlName="email"
            style="color:rgb(80, 71, 71); font-family: 'Fredoka One', cursive;">
        </mat-form-field>
      </div>
      <!-- <div>
        Feedback : 
        <mat-radio-group aria-label="Feedback" formGroupName="feedback">
          <mat-radio-button value="1" formControlName="great">Option 1</mat-radio-button>
          <mat-radio-button value="2" formControlName="okay">Option 2</mat-radio-button>
          <mat-radio-button value="3" formControlName="Good">Option 2</mat-radio-button>
        </mat-radio-group>
      </div> -->
      <div>
        <mat-form-field appearance="outline"
          style="width:95%; margin-left:2pt;margin-right: 2pt; font-family: 'Fredoka One', cursive;">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"
            style="color:rgb(80, 71, 71); font-family: 'Fredoka One', cursive;"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline"
          style="width:95%; margin-left:2pt;margin-right: 2pt; font-family: 'Fredoka One', cursive;">
          <mat-label>Feedback*</mat-label>
          <textarea matInput formControlName="feedback"
            style="color:rgb(80, 71, 71); font-family: 'Fredoka One', cursive;"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" class="button">Submit</button>
    </form>
    <div *ngIf="succmessage"
      style="background-color:rgb(30, 145, 65,0.7);border:2px solid rgb(40, 105, 45);width: 95%;margin:auto;border-radius:3px;font-family: 'Fredoka One', cursive; color:mintcream">
      Push Request Successful</div>
    <div *ngIf="errmessage"
      style="background-color:rgba(235, 8, 8, 0.6);border:2px solid rgba(235, 8, 8);width: 95%;margin:auto;border-radius:3px;font-family: 'Fredoka One', cursive; color:mintcream">
      Push Request Unsuccessful</div>
    <div
      style="background-color: rgba(28, 79, 121, 0.7);font-family: 'Fredoka One', cursive; color:mintcream;white-space: pre-line; margin:auto; border-radius:3px; width:80% ; margin-top: 30pt;">
      {{ message }}
    </div>
  </div>
</body>