<body class="bg">
  <div class="detail">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="name" formControlName="name">    
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="abc@xyz.com" formControlName="email">
        </mat-form-field>
      </div>
      <!-- <div>
        Feedback : 
        <mat-radio-group aria-label="Feedback" formGroupName="feedback">
          <mat-radio-button value="1" formControlName="great">Option 1</mat-radio-button>
          <mat-radio-button value="2" formControlName="okay">Option 2</mat-radio-button>
          <mat-radio-button value="3" formControlName="Good">Option 2</mat-radio-button>
        </mat-radio-group>
      </div> -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </div> 
      <button mat-raised-button color="primary" type="submit" class="button" >Submit Form</button>
    </form>
    <p>
      Value: {{ message }}
    </p> 
  </div>
</body>

